# Build outputs
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Python packaging
*.egg-info/
.eggs/
dist/

# Pico binaries
*.uf2
*.elf
*.bin
*.hex
*.map

# Compiled / temporary files
*.o
*.obj
*.log

# VS Code
.vscode/

# Python virtual environments
.venv/
venv/

# OS files
Thumbs.db
Desktop.ini
.DS_Store